.books-page {
    text-align: center;
    padding: 20px;
    background-color: #020202;
    color: #fff;
    min-height: 100vh;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 10;
}

.search-bar {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #b6a64b;
    background-color: #222;
    color: #fff;
    margin-right: 10px;
}

.navbar-button {
    padding: 10px 15px;
    background-color: #b6a64b;
    color: #020202;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-button:hover {
    background-color: #726a32;
}

/* Books Grid Styling */
.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.book-card {
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #b6a64b;
    text-align: center;
}
