.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #020202; /* Black background */
    color: #B6A64B; /* Golden text */
}

.dashboard-logo {
    width: 600px;
    margin-bottom: 5px;
}

.book-details h3 {
    font-size: 1.2em;
    margin: 5px 0;
}

.book-details p {
    font-size: 0.9em;
    margin: 3px 0;
    color: #e0e0e0;
}

h1 {
    font-size: 36px;
    margin: 10px 0;
}

p {
    font-size: 18px;
    margin: 10px 0;
    color: #757233; /* Subdued gold for secondary text */
}

button {
    padding: 10px 20px;
    background-color: #5F5522; /* Muted gold */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #726A32; /* Slightly brighter gold */
}

.logout-button {
    padding: 10px 20px;
    background-color: #ff4d4d; /* Red button for logout */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #d43d3d; /* Darker red on hover */
}

.library-link {
    color: #b6a64b;
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.library-link:hover {
    color: #ff1100;
}

.search-bar {
    width: 80% !important;/* Reduced width for a smaller look */
    max-width: 300px !important; /* Limit the maximum width */
    padding: 8px; /* Smaller padding */
    margin-bottom: 20px;
    border: 2px solid #b6a64b;
    border-radius: 5px;
    font-size: 14px; /* Smaller font size */
    color: #5f5522;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Responsive columns */
    gap: 15px;
    width: 90%; /* Stretch to most of the screen width */
    max-height: calc(100vh - 200px); /* Leaves space for header/footer */
    overflow-y: auto; /* Makes it scrollable */
    padding: 10px;
    margin-top: 20px;
    border: 2px solid #b6a64b;
    border-radius: 10px;
    background-color: #5f5522;
}

.book-card {
    background-color: #5f5522;
    border: 1px solid #b6a64b; /* Thinner border */
    border-radius: 5px; /* Smaller border radius */
    padding: 10px; /* Less padding */
    font-size: 0.9em; /* Smaller text */
    color: #fff;
    text-align: center; /* Center-align text for consistency */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.2s, box-shadow 0.2s;
}

.book-card:hover {
    transform: translateY(-3px); /* Reduced hover effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.error {
    color: #ff4d4d;
    font-size: 1.2em;
}

