body {
  background-color: #020202; /* Deep black background */
  color: #B6A64B; /* Golden text for primary branding */
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #B6A64B; /* Golden headers */
  font-weight: bold;
}

button {
  padding: 10px 20px;
  background-color: #5F5522; /* Muted gold for buttons */
  color: #fff; /* White text for contrast */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #726A32; /* Highlighted button hover */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 768px) {
  .dashboard-container {
      padding: 20px;
  }
}
